html, body {
    height: 100%;
    margin: 0;
}

.title {
    margin: 0;
    grid-area: title;
}

.area {
    height: 100%;
    display: grid;
    grid-template: "title" "publish" "metrics";
    grid-template-rows: 40px 1fr 1fr;
}
.publish {
    grid-area: publish;
}
.publish .fieldset {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 0.5rem;
    grid-template-columns: 60px 1fr;
}
input[type="checkbox"] {
    margin: 0;
}
.metrics {
    grid-area: metrics;
}

@media (min-width: 40rem) {
    .area {
        grid-template: "title title" "publish metrics";
        grid-template-rows: 40px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}